<%= render 'shared/main_navbar' %>
<% if current_user.admin? %>
<div class="user-show-wrapper">
  <h2>Bienvenido <%= current_user.email %></h2>
  <%= link_to 'Crear Producto', new_product_path, class: 'btn btn-dark btn-lg btn-block'  %>
  <%= link_to 'Inventario de Productos', products_path, class: 'btn btn-primary btn-lg btn-block'  %>
  <%= link_to 'Ver Ordenes', orders_path, class: 'btn btn-danger btn-lg btn-block'  %>
  <%= link_to 'Ver Carritos', carts_path, class: 'btn btn-secondary btn-lg btn-block'  %>
</div>
<% else %>
<% end %>
<div class="user-show-container">
  <div class="user-show-title d-flex justify-content-between align-items-center">
    <h2>Bienvenido Guillermo Jose</h2>
    <h3>Cerrar sesion</h3>
  </div>
</div>
<div class="about-container">
  <div class="nav-tab">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mi cuenta</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Historial de Pedidos</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Datos Personales</a>
    </div>
  </div>
  <div class="nav-tab-content">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><%= render 'products' %></div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><%= render 'orders' %></div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><%= render 'profile' %></div>
    </div>
  </div>
</div>
<div class="home-product-wrapper">
  <h3 class="text-left">Tambien te puede interesar</h3>
  <div class="division-cards-wrapper">
    <% @products.drop(8).first(8).each do |product| %>
    <%= render 'shared/product_home_card', product: product %>
    <% end %>
  </div>
</div>
