<%= render 'shared/main_navbar' %>
<br><br>
<div class="division-cards-wrapper">
  <% @divisions.each do |division| %>
  <div class="division-minicard-container">
    <%= render 'shared/division_minicards', division: division %>
  </div>
  <% end %>
</div>
<h2 class="category-path"><%= @division.title %> / Todos los articulos </h2>
<div class="mobile-button-container">
  <h2><%= @division.title %></h2>
  <div class="mobile-button">
    <div class="dropdown">
      <button class="categories-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categorias <i class="fas fa-chevron-down"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item" style="margin-bottom: 0px; font-size:13px; margin-top: 0px;text-decoration: underline; color: #167a92;"><%= @division.title %></p>
        <div class="dropdown-divider"></div>
        <% @division.categories.each do |category| %>
        <p><%= link_to category.title, category_path(category), class: "dropdown-item"  %></p>
        <div class="dropdown-divider"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="category-wrapper">
  <div class="category-sidebar">
    <h3>Categoria Principal:</h3>
    <h1><%= @division.title %></h1>
    <p></p>
    <% @division.categories.each do |category| %>
    <h2><%= link_to category.title, category_path(category)%></h2>
    <% end %>
  </div>
  <div class="product-container">
    <% @products.each do |product| %>
    <%= render 'shared/product_card', product: product %>
    <% end %>
  </div>
  <div class="text-center">
    <%= paginate @products %>
  </div>
</div>
<%= render 'shared/main_footer' %>

