<div class="product_card">
  <%= link_to product_path(product) do %>
  <img src="<%= product.photo %>" alt="">
  <h2><%= product.title %></h2>

  <p><%= humanized_money_with_symbol(product.price) %></p>
<h4 style="font-size: 12px;"><%= product.category.title %></h4>
<% end %>
</div>
