<%= render 'shared/main_navbar' %>
<div class="payment-wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1526827826797-7b05204a22ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');">
  <div class="order-show-wrapper">
    <div class="d-flex align-items-center  justify-content-center">
      <h1>Gracias por tu compra</h1><img src="https://cdn1.iconfinder.com/data/icons/color-bold-style/21/34-512.png" alt="" style="width: 40px;">
    </div>

    <% @order.cart.line_items.each do |line| %>
    <div class="order-show-container d-flex">
      <div class="product-order-show">
        <img src="<%= line.product.photo %>" alt="">
      </div>
      <div class="pl-3">
        <p><strong>Producto:</strong> <%= line.product.title %></p>
        <p><strong>Talle:</strong> <%= line.variant.title %></p>
      </div>
    </div>
    <% end %>
    <div class="order-show-footer">
      <p>Estado:<strong> <%= @order.state %> <i class="far fa-check-circle"></i></p></strong>
      <p>Total: <strong> <%= humanized_money_with_symbol(@order.amount) %> <i class="far fa-check-circle"></i></p></strong>

    </div>
    <button class="btn btn-primary btn-lg btn-block">
      Datos de envio
    </button>
  </div>
</div>









<!--  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Talle</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <% @order.cart.line_items.each do |line| %>
      <tr>
        <th scope="row">
          <div class="product-order-show">
            <img src="<%= line.product.photo %>" alt="">
          </div>
        </th>
        <td><%= line.product.title %></td>
        <td><%= line.variant.title %></td>
        <td>544</td>
      </tr>
      <% end %>
    </tbody>

  </table> -->
