<%= render 'shared/main_navbar' %>
<div class="order-show-wrapper">
  <h1>Gracias por tu compra</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Talle</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <% @order.cart.line_items.each do |line| %>
      <tr>
        <th scope="row">
          <div class="product-order-show">
            <img src="<%= line.product.photo %>" alt="">
          </div>
        </th>
        <td><%= line.product.title %></td>
        <td><%= line.variant.title %></td>
        <td>544</td>
      </tr>
      <% end %>
    </tbody>

  </table>

  <p>Status: <%= @order.state %> <i class="far fa-check-circle"></i></p>
  <p>Amount: <%= humanized_money_with_symbol(@order.amount) %> <i class="far fa-check-circle"></i></p>


  <p><%= link_to 'X', root_path %></p>
  <%= link_to 'Continue Shopping', root_path, class: "btn btn-primary" %>
</div>




<% @order.cart.line_items.each do |line| %>
<div class="guillo d-flex p-3">
  <div class="product-order-show">
    <img src="<%= line.product.photo %>" alt="">
  </div>
  <div class="p-3">

    <p><strong>Producto:</strong> <%= line.product.title %></p>
    <p><strong>Talle:</strong><%= line.variant.title %></p>
  </div>
</div>
<% end %>




