<div class="home-cards">
  <div class="column">
    <% @divisions.where(title: "Indumentaria").each do |division| %>
    <%= link_to division_path(division) do  %>
    <div class="card-division-1" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= division.photo %>)">
      <div class="text-center">
        <h2><%= division.title %></h2>
        <button class="home-button">Ver Mas</button>
      </div>
    </div>
    <% end %>
    <% end %>
    <% @divisions.where(title: "Cocina").each do |division| %>
    <%= link_to division_path(division) do  %>
    <div class="card-division-2" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= division.photo %>)">
      <div class="text-center">
        <h2><%= division.title %></h2>
        <button class="home-button">Ver Mas</button>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="column">
    <% @divisions.where(title: "Fragancias de hogar").each do |division| %>
    <%= link_to division_path(division) do  %>
    <div class="card-division-2" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= division.photo %>)">
      <div class="text-center">
        <h2><%= division.title %></h2>
        <button class="home-button">Ver Mas</button>
      </div>
    </div>
    <% end %>
    <% end %>
    <% @divisions.where(title: "Decoracion").each do |division| %>
    <%= link_to division_path(division) do  %>
    <div class="card-division-1" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= division.photo %>)">
      <div class="text-center">
        <h2><%= division.title %></h2>
        <button class="home-button">Ver Mas</button>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<div class="home-card-footer">
  <% @divisions.where(title: "Manos y cuerpos").each do |division| %>
  <%= link_to division_path(division) do  %>
  <div class="card-division-footer" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= division.photo %>)">
    <div class="text-center">
      <h2><%= division.title %></h2>
      <button class="home-button">Ver Mas</button>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
