<p>Tienes una nueva Venta en Cotton <%= @order.user.email %></p>
<p>
  Detalle de la orden<br>
  --------------------------

  <p><strong>Precio:</strong> <%= @order.amount %></p>
  <% @order.cart.line_items.each do |line_item| %>

  <p><strong>Producto: </strong><%= line_item.product.title %></p>
  <p><strong>Cantidad: </strong><%= line_item.quantity %></p>
  <p><strong>Talle: </strong><%= line_item.variant.title %></p>
</div>

</div>
<% end %>
