<% @payments.each do |payment| %>
<h2><%= link_to "payment", payment_path(payment) %></h2>
<p><%= payment.order.id %> - <%= payment.user.email %> - <%= payment.created_at %>
  <%= payment.payment_status %>
</p>
<% end %>
