<div class="category-sidebar">
  <h3>Categorias:</h3>
  <h1><%= @category.title %></h1>
  <p></p>
  <% division_title =  @category.division.title %>
  <% category_links = @categories.filter { |category| category.division.title == division_title } %>
  <% category_links.each do |g| %>
  <%= link_to category_path(g) do  %>
  <h2><%= g.title %></h2>
  <% end %>
  <% end %>

  <h3>Filtros:</h3>
  <div class="filter-sidebar">
    <div class="d-flex justify-content-between align-items-center pb-3">
     <h4>Precio</h4>
     <i class="fas fa-chevron-down"></i>
   </div>
   <h5><%= link_to "$300 - $1000", category_path(min_price: 1, max_price: 100000) %></h5>
   <h5> <%= link_to "$1000 - $3000", category_path(min_price: 100000, max_price: 300000) %></h5>
   <h5> <%= link_to "$3000 - $4000", category_path(min_price: 300000, max_price: 500000) %></h5>
    <h5><%= link_to "Más de $4000", category_path(min_price: 400000, max_price: 500000000) %></h5>
  </div>
</div>
