<%= render 'shared/main_navbar' %>
<br><br><br>
<h2 class="category-path"><%= @category.division.title%> / <%= @category.title %></h2>
<div class="mobile-button-container">
  <h2><%= @category.title %></h2>
  <div class="mobile-button">
    <div class="dropdown">
      <button class="categories-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categorias <i class="fas fa-chevron-down"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item" style="margin-bottom: 0px; font-size:13px; margin-top: 0px;text-decoration: underline; color: #167a92;"><%= @category.title %></p>
        <div class="dropdown-divider"></div>
        <% division_title =  @category.division.title %>
        <% category_links = @categories.filter { |category| category.division.title == division_title } %>
        <% category_links.each do |g| %>
        <%= link_to g.title, category_path(g), class: "dropdown-item"%>
        <div class="dropdown-divider"></div>
        <% end %>
      </div>
    </div>
    <div>
      <button class="filter-button">filtros</button>
    </div>
  </div>
  <p><%= @category.products.count %> productos</p>
</div>
<div class="category-wrapper">
  <div class="category-sidebar">
    <h3>Categorias:</h3>
    <h1><%= @category.title %></h1>
    <p></p>
    <% division_title =  @category.division.title %>
    <% category_links = @categories.filter { |category| category.division.title == division_title } %>
    <% category_links.each do |g| %>
    <%= link_to category_path(g) do  %>
    <h2><%= g.title %></h2>
    <% end %>
    <% end %>

    <h3>Filtros:</h3>
    <div class="filter-sidebar">
      <h4>Precio</h4>
      +
    </div>
    <div>
      <%= link_to category_path(created_at: :desc) do %>
      Lo mas reciente
      <% end %>
      <%= link_to category_path(price_cents: :desc) do %>Lo mas barato
      <% end %>
      <%= link_to "mas caro", category_path(min_price: 1, max_price: 5000000) %>
    </div>
    <div class="filter-sidebar">
      <div>
      </div>

    </div>

    <div class="filter-sidebar">
      <h4>Fecha</h4>
      +
    </div>
    <div class="filter-sidebar">
      <h4>Talle</h4>
      +
    </div>
  </div>
  <div class= "product-wrapper">
    <div class="product-title">
      <h2><%= @category.title %></h2>
      <p><%= @category.products.count %> productos</p>
    </div>
    <div class= "product-container">
      <% @products.each do |product| %>
      <%= render 'shared/product_card', product: product %>
      <% end %>
    </div>
  </div>
</div>


