<%= render 'shared/main_navbar' %>
<br><br><br>
<h2 class="category-path"><%= @category.division.title%> / <%= @category.title %></h2>
<section id="mobile-container">
  <%= render 'mobile_container' %>
</section>
<section id="category-wrapper">

</section>

<div class="category-wrapper">
  <%= render 'side_bar' %>
  <%= render 'product_container' %>
</div>
