<%= render 'shared/main_navbar' %>
<div class="product-stock-wrapper">
  <table class="table table-striped ">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoria</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%= product.variants.sum(:stock) %></td>
        <td><%= product.category.title %></td>
        <td><%= link_to 'Ver Producto', product_path(product) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


<% @categories.each do |category| %>
<%= link_to category.title , products_path(category_id: category.id) %>
<% end %>

<h5><%= link_to "Caminos", products_path(category_id: 353) %></h5>
<h5><%= link_to "Ordenar Por Categoria", products_path(category_id: :asc) %></h5>

<h5><%= link_to "Ordenar Por Precio", products_path(price: :asc) %></h5>
