<%= render 'shared/main_navbar' %>
<div class="product-stock-wrapper">
  <div class="p-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
      Filtrar por Categoria
    </button>
  </div>

  <table class="table table-striped ">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoria</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%= product.variants.sum(:stock) %></td>
        <td><%= product.category.title %></td>
        <td><%= link_to 'Ver Producto', product_path(product) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @categories.each do |category| %>
        <p> <%= link_to category.title , products_path(category_id: category.id) %></p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<h5><%= link_to "Ordenar Por Categoria", products_path(category_id: :asc) %></h5>

<h5><%= link_to "Ordenar Por Precio", products_path(price_cents: :desc) %></h5>


