<%= render 'shared/main_navbar' %>
<div class="product-show-container d-lg-flex">
  <div class="product-image">
    <img src="<%= @product.photo %>" alt="">
  </div>
  <div class="product-show-content p-lg-3 ">
    <p><%= @product.category.division.title %> / <%= @product.category.title %></p>
    <h2><%= @product.title.upcase %></h2>
    <h3>$98.00</h3>
    <div class="product-show-variants">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">M</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">L</label>
      </div>
      <br><br>
      <button type="button" class="btn btn-dark btn-lg btn-block">Agregar al Carrito</button>
    </div>
    <div class="product-show-details d-flex justify-content-between align-items-center">
      <h4>Detalles del producto</h4> +
    </div>
    <div class="product-show-details-2 d-flex justify-content-between align-items-center">
      <h4>Como comprar</h4> +
    </div>
  </div>
</div>
<div class="show-product-footer">
  <div class="product-display">
    <h4>Tambien te puede interesar</h4>
  </div>
  <div class="division-cards-wrapper">
    <% @products.last(8).each do |product| %>
    <%= render 'shared/product_home_card', product: product %>
    <% end %>
  </div>
</div>





<div class="variant-container">
  <h2>Inventario de <%= @product.title %></h2>
  <%= render 'variants/new' %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Talle</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <% @product.variants.each do |variant| %>
      <tr>
        <td><%= variant.title %></td>
        <td><%= variant.stock %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
