<%= render 'shared/main_navbar' %>
<section id="variants_container">
  <div class="variant-container">
    <h2>Crear Talle para <%= @product.title %></h2>
    <%= render 'variants/new' %>
    <h2>Inventario de <%= @product.title %></h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Talle</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        <% @product.variants.each do |variant| %>
        <% unless variant.stock == 0 %>
        <tr>
          <td><%= variant.title %></td>
          <td><%= variant.stock %></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<section id="product-content">
  <%= render 'product_content' %>
</section>
<section id="product-footer">
  <div class="show-product-footer">
    <div class="product-display">
      <h4>Tambien te puede interesar</h4>
    </div>
    <div class="division-cards-wrapper">
      <% @products.last(8).each do |product| %>
      <%= render 'shared/product_home_card', product: product %>
      <% end %>
    </div>
  </div>
</section>
