<%= render 'shared/main_navbar' %>
<% if user_signed_in? && current_user.admin?%>
<section id="variants_container">
  <%= render 'admin' %>
</section>
<% end %>
<section id="product-content">
  <%= render 'product_content' %>
</section>
<section id="product-footer">
  <div class="show-product-footer">
    <div class="product-display">
      <p>Tambien te puede interesar</p>
    </div>
    <div class="division-cards-wrapper">
      <% @products.uniq(&:title).last(6).each do |product| %>
      <%= render 'shared/product_home_card', product: product %>
      <% end %>
    </div>
  </div>
</section>
<%= render 'shared/main_footer' %>
