<%= render 'shared/main_navbar' %>
<br><br><br>
<div class="container">
  <table class="table table-striped table-bordered text-center">
    <thead class="thead-dark">
      <tr>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @charges.each do |charge| %>
      <tr>
        <td><%= charge.user.email %></td>
        <td><%= charge.product.title %></td>
        <td><%= charge.product.price %></td>
        <td><%= link_to 'Ver Encargo', charge_path(charge) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

